<%= form_for [:admin, @portfolio] do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Graduação" %><br>
    <%= f.text_field :degree, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Contato" %><br>
    <%= f.text_field :phone, class: "Contato form-control" %>
  </div>
  <div class="field">
    <%= f.label "Histórico Profissional" %><br>
    <%= f.text_field :professional_history, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Foto" %><br>
    <%= f.file_field :avatar %>
  </div><br>
  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-info btn-sm btn-block" %>
  </div><br>
<% end %>
